<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <style>table th, table td {padding: 5px;}</style>
</head>

<body>
<div>

    <h2>User</h2>

    <table border="1">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>
            <th>Login</th>
<!--            <th>Password</th>-->
<!--            <th>Roles</th>-->

        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.surname}"></td>
            <td th:text="${user.age}"></td>
            <td th:text="${user.username}"></td>
<!--            <td th:text="${user.password}"></td>-->
<!--            <td th:text="${user.roles}"></td>-->

        </tr>
        </tbody>
    </table>
</div>
<br/>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

</body>
</html>